<div id="tittle">
  <nz-breadcrumb class="tittle">
    <nz-breadcrumb-item>
      <a [routerLink]="['../']" class="crumb">链接内容</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      生成链接
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<div id="content">
  <div class="content">
    <p>生成链接</p>
    <span style="color: #f00;margin-right: 3px;">*</span>
    <span style="margin-right: 16px;font-size: 18px;">数量</span>
    <input type="text">
    <br/>
    <button>生成并导出</button>
  </div>
</div>


